.About {
    display: inline-flex;
    background-color: rgb(252, 247, 247);
    opacity: 0.99;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    word-break: keep-all;
    padding: 1vw;
    
}

.AboutText {
    width: 50%;
    margin-left: 1vw;
}

.AboutText b {
    color: darkred;
}

.GayathriMaa, .Swamiji {
    max-width: 22vw;
    max-height: 80vh; 
    margin-left: 1vw;
    margin-bottom: 1vh;
}

.Agastya {    
  display: block;
  width: 12vw;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1vh;
}



 @media only screen and (max-width: 499px) {
    .GayathriMaa, .Swamiji {
        height: 20vh;
    }   
  }