.Toolbar {
    width: 100%;
    position: fixed;
    top: 0;
    display: grid;
    grid-template-columns: 1fr 7fr;
    align-items: center;
}

@media (max-width: 499px) {
    .DesktopOnly {
        display: none;    
    }
}