body {
    margin: 0;
    font-size: 1vw;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    text-align: left;
}

.Layout {
  display: grid;
  grid-template-rows: 12vh auto auto;
}

.MainContent {
  top: 0;
}

@media (max-width: 500px) {
   body {
     font-size: 3vw;
   }
}