body {
    margin: 0;
    font-size: 1vw;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    text-align: center;
}

.Content {
  margin-top: 14vh;
}

@media (max-width: 500px) {
    .Content {
        font-size: 3vw;
        margin-top: 25vh;
    }
}