.About {
    display: inline-flex;
    background-color: rgb(252, 247, 247);
    opacity: 0.99;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    word-break: keep-all;
    padding: 5px;
    
}

.AboutText {
    width: 50%;
    font-size: 3vw;
}

.AboutText b {
    color: darkred;
    font-size: 1.3vw;
}

.AboutText::before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.6;    
}

.GayathriMaa, .Swamiji, .Agastya {
    margin-top: 1vh;
    width: 24.8%;
    margin-bottom: 1vh;
}

.Agastya {    
  display: block;
  width: 12vw;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 500px) {
    .AboutText {
        margin-left: 1vw;
        text-align: left;
        font-size: 1.3vw;
    }

    .GayathriMaa, .Swamiji {
        width: 24.6%;
    }
}