* {box-sizing: border-box;}

.MySlides {
    display: none;
    width: 100%;
    height: 400px;
}

/* Slideshow container */
.CarouselContainer {
  justify-content: center;
  margin: auto;
  display: grid;
  grid-template-columns: 400px;
}

/* Caption text */
.Caption {
  font-size: 15px;
  padding: 8px 12px;
  left: 8px;
  position: relative;
  width: 100%;
  color: cadetblue;
}

/* Fading animation */
.Fade {
  -webkit-animation-name: ease-in-out;
  -webkit-animation-duration: 2s;
  animation-name: ease-in-out;
  animation-duration: 2s;
}

@-webkit-keyframes ease-in-out {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes ease-in-out {
  from {opacity: .4} 
  to {opacity: 1}
}

.Images {
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .Caption {font-size: 11px}
}