.NavigationItem {
    margin: 10px 0;
    box-sizing: border-box;  
    display: block;
    width: 100%;
}

.NavigationItem a {
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
}

.Separator {
    display: none;
}

@media (min-width: 500px) {
    .Separator {
        display: block;
        font-size: x-large;
        border-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(226, 226, 226, 1) 48%, rgba(255, 255, 255, 0) 100%);
    }

    .NavigationItem {
        margin: 0;
        box-sizing: border-box;  
        display: flex;
        align-items: center;
        height: 100%;
        border-right: 1.5px solid;
        border-color: black;
        position: relative;
        background-color: rgb(245, 234, 227);
    }
    
    .NavigationItem:last-of-type {
        border-right: none;
    }
    
    .NavigationItem a {
        /* color: black; */
        text-decoration: none;
        height: 100%;
        padding: 16px 10px;
        border-bottom: 4px solid transparent;
        box-sizing: border-box;
    }
    
    .NavigationItem a:hover,
    .NavigationItem a:active, 
    .NavigationItem a.Active {
    height: 100%;
    background-color: lightgray;
    border-bottom: 4px solid;
  }     
}