.Donation {
    display: grid;
    grid-template-columns: auto auto;
    margin-left: 30vw;
    margin-right: 30vw;
    grid-column-gap: 3vw;
}

label {
    margin-bottom: 1px;
}

.Donation input {
    width: 100%;
    margin-bottom: 2vw;
}

.Required {
    color: red;
}

.BootstrapFont {
    font-size: 1.25vw;
}