.DonationForm {
    border: 2px solid black;
    margin-bottom: 5px;
}

/* .DonationValuedText {
    background-color: royalblue;
    color: goldenrod;
} - In Success page's CSS */ 

input {
    margin-top: 5px;
}

.Error {
    background-color: red;
    margin-top: 2px;
    color: white;
    height: 40%;
}