.BottomBar {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-items: center;
    background-color: #28231e;
    color: white;
    font-size: 1vw;
}

.BottomPages {
    color: #ccc;
    font-weight: bold; 
    background-color: #28231e;
    color: white;
    font-size: 1vw;
    text-align: center;
}