 
    .SocialMedia, .EmailTel {
       color: white;
    }

    .AddressBlock {
        display: block;
    }

    .AddressNone {
        display: none;
    }

    .ContactUs {
        text-align: left;
        margin-left: 1vw;
    }