 
    .SocialMedia, .EmailTel {
       color: white;
    }

    .AddressBlock {
        display: block;
    }

    .AddressNone {
        display: none;
    }

    .Headings {
        font-size: 1.1vw;
        font-weight: bold;
        color: darkorange;
    }