.DesktopMiniCntBar {
    display: none;
}

@media (min-width: 500px) {
    .DesktopMiniCntBar {
        font-size: smaller;
        display: grid;
        grid-template-columns: auto auto auto;
        background-color: black;
        color: white;        
    } 

    .AboutButton {
        background-color: transparent;
        color: white;
        border: 1px solid black;
        width: 100%;
        height: 100%;
        cursor: pointer;
   } 
   
   .EmailTel {
       color: white;
   }
}