.AboutGMP {
    background-color: #ccc;
    opacity: 0.99;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    word-break: keep-all;
    margin-left: 1vw;
    margin-right: 1vw;
    color: royalblue;
}

.AboutGMP ol {
    text-align: left;
} 